blockquote {
	background-color: #d3ddda;
	padding: 16px;
	border: 10px solid #c2ccca;
	width: 250px;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	text-align: right;
}
.fiat {
	float: right;
	margin-left: 40px;
}
.petrobras {
	float: left;
	margin-right: 40px;
}