blockquote {
	background-color: #d3ddda;
	border: .6em solid #c2ccca;
	padding: .85em;
	width: 15.6em;
	margin: 0;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	box-sizing: border-box;
	text-align: right;
}
.fiat {
	float: right;
	margin-left: 2.5em;
}
.petrobras {
	float: left;
	margin-right: 2.5em;
}