header {
	text-align: center;
	background-color: #851944;
	padding: 2rem;
	color: #fff;
	border-bottom: .5rem solid #000;
	position: relative;
}
.perspective-base {
	position: absolute;
	font-family: 'Shadows Into Light two', cursive;
	text-shadow:  0.05em 0.07em 0.09em #000;
	color: #D5447E;
	font-size: 400%;
	font-weight: bold;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.keywords {
	position: absolute;
}
.codigo-limpo {
	top: 30%;
	opacity: .7;
	-webkit-transform: rotate(-20deg) scale(.5) skew(-15deg);
			transform: rotate(-20deg) scale(.5) skew(-15deg);
}
.agilidade {
	top: 35%;
	right: 5%;
	opacity: .5;
	-webkit-transform: rotate(20deg) scale(.5) skew(12deg);
			transform: rotate(20deg) scale(.5) skew(12deg);
}
.responsivo {
	bottom: 9%;
	left: 20%;
	-webkit-transform: rotate(-30deg) scale(.6) skew(-20deg);
			transform: rotate(-30deg) scale(.6) skew(-20deg);
}
.boas-praticas {
	bottom: -4%;
	right: 15%;
	opacity: .5;
	-webkit-transform: rotate(10deg) scale(.4) skew(15deg);
			transform: rotate(10deg) scale(.4) skew(15deg);
}
.css3 {
	top: 10%;
	right: 25%;
	-webkit-transform: rotate(15deg) scale(.8) skew(-9deg);
			transform: rotate(15deg) scale(.8) skew(-9deg);
}
.acessibilidade {
	bottom: 9%;
	left: 1%;
	opacity: .4;
	-webkit-transform: rotate(-14deg) scale(.5) skew(-27deg);
			transform: rotate(-14deg) scale(.5) skew(-27deg);
}
.otimizacoes {
	top: 45%;
	right: 15%;
	-webkit-transform: rotate(16deg) scale(.6) skew(29deg);
			transform: rotate(16deg) scale(.6) skew(29deg);
}
.javascript {
	top: 15%;
	left: 20%;
	-webkit-transform: rotate(-9deg) scale(.76) skew(10deg);
			transform: rotate(-9deg) scale(.76) skew(10deg);
}
.design {
	bottom: 2%;
	right: 3%;
	-webkit-transform: rotate(-13deg) scale(.78) skew(-15deg);
			transform: rotate(-13deg) scale(.78) skew(-15deg);
}
.html5 {
	top: 5%;
	left: 5%;
	-webkit-transform: rotate(-10deg) scale(.8) skew(-13deg);
			transform: rotate(-10deg) scale(.8) skew(-13deg);
}
.photo-profile {
	width: 200px;
	border-radius: 50%;
	box-shadow: 0 0  2rem #000;
}
.my-name {
	font-size: 2.5em;
}
header h2 {
	font-size: 1em;
	color: #fff;
	text-align: center;
	text-shadow: .1em .1em #000;
}
.saudacao {
	line-height: 1;
	color: #889;
	font-size: 2em;
}
.saudacao-inicio {
	padding: 1rem;
	font-size: 3em;
	color: #99a;
}
.saudacao-subname {
	color: #000;
	font-size: 150%;
}
.saudacao-ultima-linha {
	display: block;
	text-align: right;
	padding-top: 1.5rem;
}
.saudacao-sites {
	font-size: 300%;
	color: #851944;
}
.btn-index {
	background-color: #851944;
	color: #fff;
	padding: 1.5rem;
	border: .3rem solid #000;
	text-align: center;
	width: 30%;
	margin: 4rem 0;
	cursor: pointer;
	font-size: .9em;
	-webkit-border-radius: 15px 0;
	-moz-border-radius: 15px 0;
	-ms-border-radius: 15px 0;
	-o-border-radius: 15px 0;
	border-radius: 15px 0;
	box-shadow: inset 0 0 1rem #000;
	text-shadow: 0 .1rem .1rem #000;
	transition: ease-in-out .3s;
}
.btn-index a {
	color: #fff;
}
.btn-index:hover {
	transform: scale(1.05);
	box-shadow: 0 0 1rem #000;
	text-shadow: 0 .1rem .1rem #000;
}
.secao-inicio {
	text-align: center;
	padding: 2rem;
}
.jobs {
	background-color: #3C1D3D;
	padding: 2rem 2rem;
	border-top: .5rem solid #000;
	border-bottom: .5rem solid #000;
}
.jobs h2,
.blog h2 {
	font-size: 260%;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 0 0 2rem #000;
	padding-bottom: 2rem;
	margin: 1rem;
	color: #fff;
}
.jobs ul {
	border: .5rem solid #000;
	overflow: hidden;
	margin-bottom: 2rem;
}
.jobs li {
	float: left;
	width: 33.333%;
}
li img {
	width: 100%;
	display: block;
}
.blog {
	background-color: #999;
	color: #fff;
	position: relative;
}
.blog small {
	display: inline-block;
	position: absolute;
	text-align: left;
	top: 8rem;
	left: 3rem;
}
.blog ol {
	margin: 2rem 1rem;

}
.blog li {
	text-align: left;
	width: 100%;
}
.blog li a {
	padding: .5rem;
	margin: .2rem 0;
	width: 100%;
	display: inline-block;
}
.inicio-post {
	position: absolute;
	top: 2rem;
	left: 25.8rem;
	width: 60%;
	height: 18%;
	padding: 5rem 3rem;
	display: none;
	background-color: #3C1D3D;
	color: #fff;
}
.blog li a:hover,
.blog li a:focus {
	background-color: #3C1D3D;
	color: #fff;
	cursor: pointer;
}
.blog li a:hover + .inicio-post,
.blog li a:focus + .inicio-post {
	display: block;
	box-shadow: inset 0 0 1rem #000;
}
.inicio-post a {
	text-decoration: none;
}
.inicio-post a:hover {
	text-decoration: underline;
}
.inicio-post a:visited {
	color: #f3f3f3;
}