body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #f2fffc;
	font-size: 120%;
	line-height: 1.5;
}
main {
	width: 80%;
	float: left;
}
.container {
	margin: 0 auto;
	width: 37em;
	padding-bottom: 5rem;
}
h1,
h2,
aside {
	font-family: "Open Sans Condensed", sans-serif;
	text-shadow: .05em .07em .09em #000;
}

main h1 {
	background-color: #851944;
	color: #f4f4f4;
	font-size: 3em;
	padding: 1rem;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	border-bottom: .635rem solid #000;
}
main a {
	color: #851944;
}
h2 {
	font-size: 1.5em;
	clear: both;
}
p {
	text-align: justify;
	margin: 2rem 0;
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
.my-photo {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 310px; 
}
aside {
	background-color: #3C1D3D;
	color: #fff;
	text-align: center;
	padding: 1.25rem;
	clear: right;
	width: 20%;
	position: relative;
	top: 310px;
}
aside, 
.my-photo {
	float: right;
	box-sizing: border-box;
	border-left: .625rem solid #000;
	border-bottom: .625rem solid #000;
}
nav h1 {
	font-size: 1.8em;
	margin-bottom: 1.2rem;
}
nav a {
	color: inherit;
	text-transform: lowercase;
}
.social-icons li {
	display: inline-block;
}
.social-icons a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}
.github {
		background-image: url(../img/github.png);
}
.twitter {
		background-image: url(../img/twitter.png);
}
.linkedin {
	background-image: url(../img/linkedin.png);
}
footer {
	background-color: rgba(0,0,0, .9);
	color: #f2fffc;
	padding: 1.25rem;
	clear: both;
	position: fixed;
	width: 100%;
	bottom: 0;
}