.thumbnail {
	margin-bottom: 2rem;
}
.thumbnail li {
	background-color: #FAFFFC;
	display: inline-block;
	border: .5rem solid #000;
	width: 17em;
	box-sizing: border-box;
	padding: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.thumbnail-photo {
	width: 100%;
}