h1 {
	background-color: #851944;
	color: #f4f4f4;
	font-family: "Opens Sans Condensed", "Arial", sans-serif;
	font-size: 60px;
	text-align: center;
}
h2 {
	font-family: "Opens Sans Condensed", "Arial", sans-serif;
	font-size: 40px;
}