main h1 {
	background-color: #851944;
	color: #f4f4f4;
	font-family: "Opens Sans Condensed", "Arial", sans-serif;
	font-size: 60px;
	text-align: center;
	padding: 20px;
	margin: 0;
}
h2 {
	font-family: "Opens Sans Condensed", "Arial", sans-serif;
	font-size: 40px;
}
p {
	text-align: justify;
}
blockquote {
	background-color: #d3ddda;
	padding: 16px;
	border: 10px solid #c2ccca;
	width: 250px;
	margin: 0;
	box-sizing: border-box;
	text-align: right;
}